
footer li a{

  font-family: 'Montserrat', sans-serif;

}
html{


    border-top: none !important;
}
.special{

   
        width: 1300px;
        margin-left: auto;
        margin-right: auto;
    


}
.grey a{

 
 color: #124193;
  font-family: 'Open Sans', sans-serif;
}


article .party1 {
    border: 1px solid grey;
    width: 21.4em;
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    display: inline-block;
    transition: transform .5s, box-shadow .3s linear, height .5s linear;
    height: 16em;
    overflow: hidden;
    text-overflow: clip;
}

article img {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
}

.row .col-sm-3 img{

  transition: all 0.2s ease;


}

.row .col-sm-3 img:hover{

  transition: all 0.2s ease;
  transform: scale(1.2);

}


article a {
    text-decoration: none;
    color: grey;
    transition: transform .5s, color .5s linear;
}

article h4 span {
    position: absolute;
    margin-top: -4.7em;
    color: white;
    background-color: rgba(64, 97, 171, 1);
    display: block;
    height: 4.2em;
    padding-top: 1em;
    
    width: 100%;
    box-sizing: border-box;
    transition: transform .5s, background-color .5s linear;
    text-align: center;
}
.col-sm-3 .content{
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.col-sm-3.active .content{
  height: 150px;
  padding: 10px;
}
		article img {
  height: 100%;
		}
article .bir:hover {
  height: 16em;
}
article .eki:hover {
  height: 16em;
}
article .ush:hover {
  height: 16em;
}
article .tort:hover {
  height: 16em;
}
article .bes:hover {
  height: 16em;
}
article .alty:hover {
  height: 16em;
}
article .jety:hover {
  height: 16em;
}
article .segiz:hover {
  height: 16em;
}


		#navbar {
  overflow: hidden;
  padding: 2em 10px; 
  position: fixed; 
  transition: 1s; 
  width: 100%;
  top: 0; 
  z-index: 99;
  display: inline-grid;
  grid-template-rows: 1fr ;
  grid-template-columns: 2% repeat(4, minmax(1fr, 0.5fr)) 2%;
  grid-column-gap: 1.5em;
}
.header__menu {
  list-style: none;
}
.header__menu li {
  float: left;
  display: block;
  margin-right: 1.5em;
  margin-top: 1em;
}
.header__menu input {
  margin-top: -3em;
}
#navbar #logo {
  transition: 0.4s;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: left;
}
#navbar #logo img {
  width: 20em;
}
#navbar-bottom {
  grid-row: 2 / 3;
  grid-column: 2 / 5;
  margin-top: 1em;
}
.header__text {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  text-align: left;
}
.header__text2 {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
  text-align: left;
}
.header__numbers {
  grid-row: 1 / 4;
  grid-column: 5 / 6;
  text-align: center;
}
.header__numbers p {
  margin-bottom: 0.8em;
}
.header__numbers-button {
  padding: 3px;
  width: 12em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}


/* Position-slider */

.swiper-container {
    width: 90%;
 
    text-align: center;
    margin-top: 0.5rem;
}
.swiper-container img {
    width: 100%;
    height: 100%;
}
.swiper-slide-text {
    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 20%;
    right: 20%;
}

/* Position-article */


.article {
  margin-top: 2em;
  display: grid;
  grid-template-columns: auto 65% 25% auto;
  grid-gap: 3em;
}
.article__left-text {
  grid-column: 2 / 3;
}
.article__right-text {
  grid-column: 3 / 4;
}


/* Position-advantages */


.advantages__blocks {
  display: grid;
  grid-template-columns: auto 35% 57% auto;
  justify-items: start;
}
.advantages__title {
  grid-column: 2 / 3;
  margin-bottom: 1em;
}
.advantages__block1 {
  grid-column: 2 / 3;
}
.advantages__block2 {
  grid-column: 3 / 4;
}



/* Position-application */


.application {
  display: grid;
  grid-template-columns: 5% 1fr 25% 5%;
  grid-template-rows: 0.2fr 0.1fr 0.001fr;
}
.application__background {
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  height: 8em;
}

#application__text {
  display: block;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-left: 3em;
}
#application__button {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  text-align: center;
  margin-top: 2.5em;
}


/* Design */


#navbar {
  background-color: #f5f5f5;

  box-shadow: -0.5px 4px 0.5px rgba(0,0,0,0.1);
  border-top: 0.2em solid #4061AB;
}
#navbar-bottom {
  border-top: 0.1em solid #E1DFDF;
}
#navbar-bottom a {
  color: #85878C;
  text-decoration: none;
  transition: transform .5s, color .5s linear;
}
#navbar-bottom input[type="search"] {
  background-color: #f5f5f5;
  outline: none;
  border: none;
  border-bottom: 1px solid #E1DFDF;
  transition: transform .5s, border-color .5s linear;
}
#navbar-bottom input[type="search"]:hover {
  border-color: #4061AB;
}
#navbar-bottom input[type="search"]:focus {
  border-color: #4061AB;
}
#navbar-bottom input[type="submit"] {
  background-color: #4061AB;
  border: none;
  outline: none;
  border-radius: 2em;
  padding: 0.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  transition: transform .5s, color .5s linear, background-color .5s linear;
  color: white;
}
#navbar-bottom input[type="submit"]:hover {
  background-color: #cf2f21;
}
#navbar-bottom input[type="submit"]:focus {
  background-color: #cf2f21;
  border: 2px solid #4D90FE;
}
.header__menu {
  text-transform: uppercase;
  font-size: 0.8em;
}
#navbar-bottom a:hover {
  color: #4061AB;
}
.header__menu li {
  font-size: 1.3rem;
}
.header__text {
  color: #85878C;
  
}
.header__text2 {
  color: #85878C;
  
}
.header__numbers-numbers {
  color: #85878C;
  text-decoration: none;
  transition: transform .5s, color .5s linear;
}
.header__numbers-numbers:hover {
  text-decoration: none;
  color: #4061AB;
}
.header__numbers-button {
  text-decoration: none;
  display: block;
  background-color: #4061AB;
  border-radius: 1em;
  color: white;
  transition: transform .5s, background-color .5s linear;
  
}
.header__numbers-button:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.2);
  
}

/* Design slider */


.swiper-slide-text {
  color: white;
  background-color: #e20813;
    border-radius: 20px;
}
.swiper-slide-button {
  background-color: #4061AB;
  border: none;
  border-radius: 2em;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: transform .5s, background-color .5s linear;
}
.swiper-slide-button:hover {
  transform: scale(1.2);
  background-color: #cf2f21;;
}
.swiper-slide-button a {
  text-decoration:none;
  color: white;
}
.swiper-slide-button a:hover {
  text-decoration:none;
  color: white;
}


/* Design article */


.article {
  font-family: 'Ubuntu';
 
}
.article h2 {
  font-family: Roboto;
  font-size: 30px;
  font-size: 3.5rem;
}

.article__left-text-black {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.article__right-text h4 {
  
  color: black;
}
.article__right-text-grey {
  background-color: #f0f0f0;
  padding: 1.5em;
}
.article__right-text-grey li {
  list-style: black;
  
}


/* Design-advantages */


.advantages {
  font-size: 1.2em;
  line-height: 3;
}

.advantages .glyphicon {
  color: #4061AB;
  width: 1.5em;
  font-size: 1.3em;
}
.advantages ul {
  list-style: none;
}


/* Design-application */


.application__background {
  background: url(http://asiaelectro.kz/wp-content/uploads/2018/02/mediastage_set01-wave.png) no-repeat fixed;
  background-size: cover;
  background-origin: padding-box;
  background-position: center center;
  border-left: 0.3em solid #4061AB;
}
.application__button a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.3em 0.3em;
  background-color: #4061AB;
  border-radius: 1em;
  transition: transform .5s, background-color .5s linear;
  max-width: 15em;
}
.application__button a:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.2);
  background-color: #cf2f21;
}




/* Mobile */


@media screen and (max-width: 950px) {
  .container {
    width: 100%;
  } 
  .header__text {
    display: none;
  }
  .header__text2 {
    grid-column: 3 / 4;
  }
  
  .advantages__blocks {
    grid-template-columns: auto 96% auto;
  }

  .advantages__title
  .advantages__block1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .advantages__block2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .application__background {
    display: none;
  }
  .footer__logo {
    display: none;
  }
 
  .footer__menu {
    grid-column: 2 / 3;
  }
  .footer__adres {
    grid-column: 3 / 4;
  }
  .footer__map {
    grid-column: 4 / 5;
  }
}
.address_wrapper p{

  color: white;
  display: inline-block;
  margin-left: 400px;
}
@media screen and (max-width: 580px) {
  body {
    grid-template-rows: repeat(7, 0.1fr);
  }

  .header__text2 {
    display: none;
  }
  .header__numbers {
    display: none;
  }
  #navbar #logo {
    grid-column: 2 / 3;
  }
  #navbar #logo img {
    width: 13em;
  }
  #navbar-bottom {
    display: none;
  }
  .article {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 0.4fr 0.4fr 0.1fr;
    grid-gap: 0px;
  }
  .article__left-text {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
  }
  .article__right-text {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .footer__map {
    display: none;
  }
 
  .footer__menu {
    grid-column: 2 / 3;
  }
  .footer__adres {
    grid-column: 3 / 4;
  }
}

@media screen and (max-width: 547px) {
  body {
    grid-template-rows: repeat(7, 0.05fr);
    grid-gap: 0em;
  }
  .slider {
    display: none;
  }
  .article {
    grid-template-rows: 0.5fr 0.5fr 0.05fr;
  }
  .application {
    display: none;
  }
  .footer__menu {
    display: none;
  }
  
  .footer__adres {
    grid-column: 2 / 4;
  }
}


/* Brands-carousel */
.brands__carousel h2 {
  text-align: center;
}
.brands-wrap {
  
  max-width: 960px;
  margin: 0 auto;
}
.carousel_1 {
  background: transparent;
}

.gallery-cell {
  width: 100%;
  /* half-width */
  height: auto;
  padding: 0 15px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media (min-width: 548px) {
  .gallery-cell {
    width: 33.3%;
  }
}
.gallery-cell.is-selected img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
}
.gallery-cell img {
  transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* easeInOutBack */
  max-width: 170px;
  display: inline-block;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
}
.flickity-prev-next-button.previous {
  left: -40px;
}
.flickity-prev-next-button.next {
  right: -40px;
}
.brand-carousel {
  margin: 0 60px;
  /* space for prev/next buttons */
}
.flickity-prev-next-button .arrow {
 
  box-shadow: 0 0 5px black;
}
.flickity-prev-next-button {
  background: transparent;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
@keyframes topchik {
  from {
    top: -100em;
  }
  top {
    top: 0em;
  }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
}


body{
    background: white;
    color: black;
}
#searchsubmit{
    background-color: #124193;
    border: none;
    outline: none;
    border-radius: 2em;
    padding: 0.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    transition: transform .5s, color .5s linear, background-color .5s linear;
    color: white;
    display: inline-block;
    width: 130px;
    

}

header{
    width: 100%;
    background:#f5fdffeb;
}
.wrapper{
    display: block;
    padding-bottom: 10px;
}
.content {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px;
  border: 1px solid lightgrey;
}
.grey4{
    font-size: 13pt;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
    top: 5px;
    left: 10px;
}

.content img{
    margin: 12px 0;
}
.red {
    width: 130px;
    height: 50px;
    display: inline-block;
    background: #e20813;
    color: white;
    text-align: center;
    padding-top: 15px;
    border-radius: 5px;
    margin-top: 0;
    position: static;
    transition: transform .5s, background-color .5s linear;
}



.logotype{

  margin-left: 20px;
}
.red:hover{



  text-decoration: none;
  color: white;
  transform: scale(1.2);



}
#searchform{

  display: inline-flex;
  margin-left: 0px;

}
#s {
  width: 396px;
  background-color: #f5f5f5;
  outline: none;
  border: 1px solid grey;
  border-radius: 20px;
  border-bottom: 1px solid #E1DFDF;
  transition: transform .5s, border-color .5s linear;
  margin-left: 0px;
  padding-left: 59px;
}
footer li a{

  font-family: 'Montserrat', sans-serif;

}

.emails_wrapper ul li a{

    color: white;



}
.emails_wrapper ul li {

    margin-left: 10px;



}


.material-icons2{
    margin-left: 35px;
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    
  
    letter-spacing: normal;
    color: white;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
   
    -webkit-font-smoothing: antialiased;
}
.emails_wrapper ul {
    
    margin-left: 0px;
    display: inline-block;
        list-style: none;
}
#special_one{

    margin-left: 10px;

}

.header__numbers-button {
  width: 130px;
  height: 50px;
  display: inline-block;
  background: #124193;
  color: white;
  text-align: center;
  padding-top: 15px;
  border-radius: 5px;
  bottom: 25px;
  right: 25px;
  transition: transform .5s, background-color .5s linear;
  margin-left: 59px;
}
.search_bar{

    display: inline-block;
  
}
.search{
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    border: none;
    font-size: 18pt;
    
    color: #262626;
    padding-left: 45px;
    padding-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 20px;
}
.search:focus{
    outline:none;
}
.contact{
    display: flex;
    align-items: center;
}
.a{
    text-decoration: none;
    color: white;
    width: 200px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    padding-top: 6px;
    border-radius: 20px;
    margin-left: 30px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
   
    -webkit-font-smoothing: antialiased;
    margin-left: 40px;
}
.contact3{
    
    margin-left: 20px;
    display: inline;

}
.contact a:hover{
    color: black;
    background: white;
}
/* nav bar*/
.nav{
    width: 1300px;
    margin: 0 auto;
    display: inline-flex;
}
.menu{
    display: inline-flex;
   
    margin: 0 20px 0 20px;
    align-items: center;
  }
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    margin-right: 40px;
    text-transform: uppercase;
    color: #124193;
    
}
.menu a:hover{
    color: red;
}

.grey2{


    color: black;
}

.tel{
    margin-right: 25px;
}



.empty{
    height: 50px;
   background: white;
}


.foot_wrapper{
    
    
    background-color:#124193 ;

}

.footer_bar{

    display: inline-flex;
    color: white;
    justify-content: center;
    margin: 0 40px 0 50px;
    

}
.footer_bar li{
    list-style: none;
}
.footer_bar a{
    text-decoration: none;
    margin-right: 10px;
    text-transform: uppercase;
    color: white;
    
}

/*-- --footer */
.footer_bar a:hover{
    color: red;
}


.text{


    color: black;
}
#thing{

    position: relative;


    margin-top: 30px;


}


.prava{
    margin-left: 0;
    font-size: 11pt;
    color: white;
    display: inline;


}


@media(max-width: 1010px){

  .content{

    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    
    .contact3{
      grid-column: 1/4;
      grid-row: 2;
      

      
    }
    .search_bar{
      grid-row: 1;
      grid-column: 1/ 5;
      align-self: center;
      justify-self: center;

    }
    .header__numbers-button{
        margin-left: 10px;
        grid-row: 2;
        grid-column: 4/5;
        
    }
   

  }
  .slider{
      p{

        display: none;
      }

      .swiper-slide-text{
        align-items: center;
        // overflow: scroll;
        h2{
          margin-top: 10px;
          font-size: 20px;
        }
      }

  }


}

@media(max-width: 1200px){

  .wrapper{
    
   

    

    .nav{
      display: grid;
      width: 100%;
      margin: 0 auto;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(2, 1fr);

      .menu{
        margin-left: 50px;

        grid-area: 2/ 1 /3/ 7 ;
      }
      .ahref{

        grid-area: 1/ 7 /2/ 8 ;
      }
      a{

        grid-area: 1/ 1/ 2/ 2;
      }

    }

  }
}


@media (max-width: 883px){



  .desc-right{
    padding-left: 20px;
  }
}

@media( max-width: 1223px){

  .foot_wrapper{


    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .prava{

      grid-column: 2/3;
      grid-row: 3/4;
      margin-left: 20px;
    }

    .footer_bar{

      grid-column: 1/2;
      grid-row: 2/3;

      margin: 10px 0 10px 5px;
    }

    .emails_wrapper{

      grid-column: 2/3;
      grid-row: 2/3;
      margin-left: 20px;
    }

    .address_wrapper{
      
      grid-column: 1/ 2;
      grid-row: 3/4;
      p{
        margin-left: 5px;
        
      }
    }
    #thing{

      margin-top: 10px;
    }
    .material-icons2{

      display: none;
    }

  }


}




@media(max-width: 723px){

  .foot_wrapper{
    display: grid;
    PADDING-left: 20PX;
  .emails_wrapper{

    margin-left: 0;
    grid-row: 3/4;
    grid-column: 1/2;
  }


  .address_wrapper{

    grid-column: 1/2;
    grid-row: 4/5;
  }

  .prava{

    grid-column: 1/2;
    grid-row: 5/6;
    margin-left: 10px;
    margin-bottom: 20px;
  }
}
}

.row{


  overflow: scroll;
}