html {
  border-top: none !important;
}

.grey a {
  color: #124193;
  font-family: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto' , sans-serif;
}

body {
  background: white;
  color: black;
}

#searchsubmit {
  background-color: #124193;
  border: none;
  margin-left: 2px;
  outline: none;
  border-radius: 2em;
  padding: 0.5em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  -webkit-transition: color .5s linear, background-color .5s linear, -webkit-transform .5s;
  transition: color .5s linear, background-color .5s linear, -webkit-transform .5s;
  transition: transform .5s, color .5s linear, background-color .5s linear;
  transition: transform .5s, color .5s linear, background-color .5s linear, -webkit-transform .5s;
  color: white;
  display: inline-block;
  width: 130px;
}

#scrollUp {
  bottom: 25px;
  right: 20px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #124193;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 1.875rem;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#scrollUp:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.fa-chevron-up:before {
  content: "\f077";
}

header {
  width: 100%;
  background: #f5fdffeb;
}

.wrapper {
  display: block;
  padding-bottom: 10px;
  background-color: white;
}

.content {
  width: 100%;
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px;
}

@media screem and (min-width: 700px) {
  .content {
    background-color: black;
  }
}

.head_wrap {
  padding-left: 15%;
}

.grey4 {
  font-size: 13pt;
  font-weight: bold;
  text-decoration: underline;
  position: relative;
  top: 5px;
  left: 10px;
}

.content img {
  margin: 12px 0;
}

main {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: inline-block;
  position: relative;
  left: 100px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-top: 5%;
}

.red {
  width: 130px;
  height: 50px;
  display: inline-block;
  background: #e20813ed;
  color: white;
  text-align: center;
  padding-top: 15px;
  border-radius: 5px;
  margin-top: 0;
  position: static;
  -webkit-transition: background-color .5s linear, -webkit-transform .5s;
  transition: background-color .5s linear, -webkit-transform .5s;
  transition: transform .5s, background-color .5s linear;
  transition: transform .5s, background-color .5s linear, -webkit-transform .5s;
}

.logotype {
  margin-left: 20px;
}

.red:hover {
  text-decoration: none;
  color: white;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#searchform {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 0px;
}

#s {
  width: 396px;
  background-color: #f5f5f5;
  outline: none;
  border: 1px solid grey;
  border-radius: 20px;
  border-bottom: 1px solid #E1DFDF;
  -webkit-transition: border-color .5s linear, -webkit-transform .5s;
  transition: border-color .5s linear, -webkit-transform .5s;
  transition: transform .5s, border-color .5s linear;
  transition: transform .5s, border-color .5s linear, -webkit-transform .5s;
  margin-left: 0px;
  padding-left: 59px;
}

main section article {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

article .content-right {
  width: 550px;
}

article img {
  margin: 0;
  width: 550px;
  height: 300px;
}

footer li a {
  font-family: 'Montserrat', sans-serif;
}

.emails_wrapper ul li a {
  color: white;
}

.emails_wrapper ul li {
  margin-left: 30px;
}

.material-icons2 {
  margin-left: 35px;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  color: white;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.address_wrapper p {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  font-weight: 500;
  font-size: 1.2em;
}

.emails_wrapper ul {
  margin-left: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}

#special_one {
  margin-left: 5px;
}

.header__numbers-button {
  width: 130px;
  height: 50px;
  display: inline-block;
  background: #124193;
  color: white;
  text-align: center;
  padding-top: 15px;
  border-radius: 5px;
  bottom: 25px;
  right: 25px;
  -webkit-transition: background-color .5s linear, -webkit-transform .5s;
  transition: background-color .5s linear, -webkit-transform .5s;
  transition: transform .5s, background-color .5s linear;
  transition: transform .5s, background-color .5s linear, -webkit-transform .5s;
  margin-left: 59px;
}

.search_bar {
  display: inline-block;
}

.search {
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  border: none;
  font-size: 18pt;
  color: #262626;
  padding-left: 45px;
  padding-right: 15px;
  border-radius: 20px;
}

.search:focus {
  outline: none;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a {
  text-decoration: none;
  color: white;
  width: 200px;
  height: 40px;
  border: 1px solid white;
  text-align: center;
  padding-top: 6px;
  border-radius: 20px;
  margin-left: 30px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  margin-left: 40px;
}

.contact3 {
  margin-left: 20px;
  display: inline;
}

.contact a:hover {
  color: black;
  background: white;
}

/* nav bar*/
.nav {
  margin: 0 auto;
}

.menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 20px 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
  color: #124193;
}

.menu a:hover {
  color: red;
}

.grey2 {
  color: black;
}

.tel {
  margin-right: 25px;
}

.empty {
  height: 50px;
  background: white;
}

.foot_wrapper {
  background-color: #124193;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: row;
  justify-items: center;
}

.foot_wrapper .address_wrapper {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.foot_wrapper .emails_wrapper {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.foot_wrapper .prava {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.footer_bar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 40px 0 50px;
}

.footer_bar li {
  list-style: none;
}

.footer_bar a {
  text-decoration: none;
  margin-right: 10px;
  text-transform: uppercase;
  color: white;
}

.footer_bar a:hover {
  color: red;
}

.text {
  color: black;
}

#thing {
  position: relative;
  margin-top: 30px;
}

.prava {
  margin-left: 0;
  font-size: 11pt;
  color: white;
  display: inline;
}

@media (max-width: 1010px) {
  .content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 2fr 2fr 1fr;
        grid-template-columns: 3fr 2fr 2fr 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .content .contact3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .content .search_bar {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/ 5;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .content .header__numbers-button {
    margin-left: 10px;
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
  .slider p {
    display: none;
  }
  .slider .swiper-slide-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slider .swiper-slide-text h2 {
    margin-top: 10px;
    font-size: 20px;
  }
}

section {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 1200px) {
  .wrapper .nav {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .wrapper .nav .menu {
    margin-left: 50px;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-area: 2/ 1 /3/ 7;
  }
  .wrapper .nav .ahref {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 7;
    -ms-grid-column-span: 1;
    grid-area: 1/ 7 /2/ 8;
  }
  .wrapper .nav a {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/ 1/ 2/ 2;
  }
}

@media (max-width: 883px) {
  .desc-right {
    padding-left: 20px;
  }
}

@media (max-width: 1223px) {
  .foot_wrapper {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
  }
  .foot_wrapper .prava {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-left: 5px;
  }
  .foot_wrapper .footer_bar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin: 10px 0 10px 5px;
  }
  .foot_wrapper .emails_wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-left: 20px;
  }
  .foot_wrapper .address_wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/ 2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .foot_wrapper .address_wrapper p {
    margin-left: 5px;
  }
  .foot_wrapper #thing {
    margin-top: 10px;
  }
  .foot_wrapper .material-icons2 {
    display: none;
  }
}

@media (max-width: 723px) {
  .foot_wrapper {
    display: -ms-grid;
    display: grid;
    PADDING-left: 20PX;
  }
  .foot_wrapper .emails_wrapper {
    justify-self: flex-start;
    margin-left: 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .foot_wrapper .address_wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .foot_wrapper .prava {
    justify-self: flex-start;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-bottom: 20px;
  }
}

@media (max-width: 351px) {
  .emails_wrapper ul {
    display: -ms-grid;
    display: grid;
  }
  .emails_wrapper ul li, .emails_wrapper ul #special_one {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .wrapper .nav {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1162px) {
  main {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: static !important;
    margin: 0 10% 5% 10% !important;
  }
  section img {
    display: none;
  }
  section div {
    border-bottom: 2px solid black;
  }
}

.article99 {
  overflow: scroll;
}

@media (max-width: 695px) {
  .head_wrap {
    padding-left: 0 !important;
  }
}

.open {
  overflow: visible;
}

.burgermenu span {
  display: none;
  position: static;
  width: 10px;
  overflow: visible;
  height: 9px;
  width: 100%;
  background: #262626;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.burgermenu span:nth-child(1) {
  top: 0px;
  color: #262626;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burgermenu span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burgermenu span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

.burgermenu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.burgermenu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.burgermenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

@media (max-width: 600px) {
  .dropdown {
    display: inline-block !important;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/span 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/ span 2;
  }
  .grey {
    display: none;
  }
  .burgermenu span {
    display: inline-none;
  }
  .burgermenu {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 30%;
    margin: 0 20%;
  }
  .head_wrap {
    padding-left: 0 !important;
  }
}

@media (max-width: 500px) {
  #thing {
    display: none;
  }
  .nav {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    -ms-grid-rows: (1fr)[1] !important;
        grid-template-rows: repeat(1, 1fr) !important;
  }
  .logotype {
    display: none;
  }
  #searchform {
    width: 20%;
  }
  .search_bar {
    margin-left: 5%;
    padding-left: 70%;
  }
  .contact3 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .burgermenu {
    display: inline-block !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .burgermenu span {
    display: inline-block;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / span 2;
  }
  .footer_bar {
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 2 !important;
    grid-row: 1/3 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

footer {
  background-color: #124193;
}
/*# sourceMappingURL=projects.css.map */